:root {
  --primary-color: #53A2FF;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.cabecalho {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;
  background-color: var(--primary-color);
  align-items: center;
}

.cabecalho__grupo {
  display: flex;
  gap: 1em;
}

.avatar {
  border-radius: 100%;
  height: 50px;
}

.logo {
  height: 40px;
}
